@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul {
    list-style: none;
}

.navbar-logo {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-item {
    float: right;
}

.navbar-item a {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* FORM */
form {
    display: block;
    border-radius: 5px;
    border: 3px solid #ccc;
    padding: 20px;
    width: 200px;
    margin-top: 100px;
    margin-left: 530px;
}

form input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

form h2 {
    font-family: 'Roboto', sans-serif;
}