@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar ul {
    list-style: none;
}

.navbar-logo {
    text-decoration: none;
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-item {
    float: right;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* FORM */
form {
    display: block;
    border-radius: 5px;
    border: 3px solid #ccc;
    padding: 20px;
    width: 200px;
    margin-top: 100px;
    margin-left: 530px;
}

form input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    font-size: 13px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

div.content {
    box-sizing: border-box;

    position: relative;
    width: 277px;
    height: 85px;

    margin: auto;
    top: 60px;

    background: #FFFFFF;
    border: 4px solid #333;
    border-radius: 5px;
}

div.content h3 {
    position: absolute;
    width: 43px;
    height: 15px;
    left: 117px;
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}

div.content hr.horizontal-line {
    position: absolute;
    width: 265px;
    top: 28px;

    border: 2px solid #333;
}

div.content hr.vertical-line {
    position: absolute;
    width: 265px;
    top: 28px;

    border: 2px solid #333;
}

div.content p.email-address {
    position: absolute;
    width: 314px;
    height: 10px;
    left: 10px;
    top: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    color: #000000;
}

div.content p.balance {
    position: absolute;
    width: 284px;
    height: 10px;
    left: 10px;
    top: 55px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    color: #000000;
}

/* Modal Window */
.modal-container {
    opacity: 0;
    pointer-events: none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 100;
}