<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bus Tickets</title>
</head>
<body>
  <!-- NAVBAR START -->
  <div class="navbar">
    <ul>
      <a href="/" class="navbar-logo">Bus Tickets</a>
      <li class="navbar-item"><a href="/registration">Sign Up</a></li>
      <li class="navbar-item active"><a href="/login">Sign In</a></li>
    </ul>
  </div>
  <!-- NAVBAR STOP -->

  <!-- LOGIN FORM START -->
  <form method="post">
    <h2>Sign In</h2>
    <input type="email" name="loginFormEmail" id="loginFormEmail" placeholder="Email address">
    <input type="password" name="loginFormPassword" id="loginFormPassword" placeholder="Password">
    <button type="submit">Sign In</button>
  </form>
  <!-- LOGIN FORM STOP -->
</body>
</html>