<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bus Tickets | Profile</title>
</head>
<body>
  <!-- NAVBAR START -->
  <div class="navbar">
    <ul>
      <a href="/" class="navbar-logo">Bus Tickets</a>
      <li class="navbar-item"><a href="/logout">Log Out</a></li>
    </ul>
  </div>
  <!-- NAVBAR STOP -->

  <p>Balance: {{ balance }}</p>
</body>
</html>