<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="modals.js"></script>
    <title>Bus Tickets</title>
</head>
<body>
  <!-- NAVBAR START -->
  <div class="navbar">
    <ul>
      <a href="/" class="navbar-logo">Bus Tickets</a>
      <li class="navbar-item active"><a href="/registration">Sign Up</a></li>
      <li class="navbar-item"><a href="/login">Sign In</a></li>
    </ul>
  </div>
  <!-- NAVBAR STOP -->

  <!-- REGISTRATION FORM START -->
  <form method="post">
    <h2>Create an account</h2>
    <input type="email" name="registerFormEmail" id="registerFormEmail" placeholder="Email address">
    <input type="password" name="registerFormPassword" id="registerFormPassword" placeholder="Password">
    <button type="submit">Create</button>
  </form>
  <!-- REGISTRATION FORM STOP -->

  <button id="open-modal">Open Modal</button>

  <div class="modal-container" id="modal-container">
    <div class="modal">
      <h1>Password incorrect!</h1>
      <p>The password is too long.</p>
      <button id="close-modal">Close</button>
    </div>
  </div>
</body>
</html>